h2{
  border-style: double ;
  border-color:rgb(214, 225, 65);
  
}
#center{
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
height: 100%;
}
h4{
  outline-style: dotted;


}
h3{
  color: rgb(226, 223, 43);
}